{% extends 'layout.html.twig' %}

{% block title %}Articles - {{ parent() }}{% endblock title %}

{% block innerContent %}
    <h2>Tous nos articles</h2>

    {% if is_granted('ROLE_USER') %}
        <h3>
            <a href="{{ path('myblog_article_create') }}">+ ajouter un article</a>
        </h3>
    {% endif %}


    {% if allArticles is empty  %}
        {#
        S'il n'y a aucun article, inutile d'afficher un tableau,
        un message de circonstance suffit.
        Notez le " if <variable> is empty ", pour déterminer si un tableau
        est vide.
        Et même pas besoin de parenthèse.
        #}
        <h3> Il n'y a aucun article pour l'instant. </h3>
    {% else %}
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Créé le</th>
                <th>Auteur</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for article in allArticles %}
                    <tr>
                        <td>
                            <a href="{{ path("myblog_article_show", { idArticle : article.id }) }}">
                                {{ article.titre }}
                            </a>
                        </td>
                        <td>{{ article.contenu | slice(0, 120) }}...</td>
                        <td>{{ article.dateEdition | date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('myblog_auteur_show', {idAuteur: article.auteur.id }) }}">
                                {{ article.auteur.fullname }}
                            </a>
                        </td>
                        {% if is_granted('ROLE_USER') %}
                            <td>
                                {% if app.user == article.createur %}
                                    <a href="{{ path("myblog_article_remove", { idArticle: article.id }) }}">
                                        Supprimer
                                    </a>
                                    |
                                    <a href="{{ path("myblog_article_update", { idArticle: article.id }) }}">
                                        Éditer
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock innerContent %}



{#





#}